{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <fieldset class="border p-4">

                <legend class="w-auto">
                    <h1 style="text-align: center">Inscription</h1>
                </legend>

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.nom) }}
                {{ form_row(registrationForm.prenom) }}
                {{ form_row(registrationForm.age) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.banlieue) }}

                {{ form_row(registrationForm.agreeTerms) }}
                <div class="col text-center">

                <button type="submit" class="btn btn-primary justify-content-center">Register</button>
                </div>
                {{ form_end(registrationForm) }}
                </fieldset>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    {% endblock %}
