{% extends 'base.html.twig' %}

{% block title %}Hello accueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container" style="background: #01172e;color: #fff">
        <div class="row" >
            <div class="col-md-2">
                <h5>{{  matchs[0].tournoi}}</h5>
                <h5>{{  matchs[1].tournoi}}</h5>
            </div>
            <div class="col-md-8 bg-light text-dark">
                <h5>{{ "now"|localizeddate('medium', 'none', NULL) }}
                </h5>
                <table class="table table-striped">
                    <thead>
                    <th>date</th>
                    <th>sport</th>
                    <th>tournoi</th>
                    <th>favori</th>
                    <th>outsider</th>
                    <th>score</th>
                    </thead>
                    <tbody>
                    {% for m in matchs %}
                    <tr>
                        <td>{{ m.calendrier|date('d/m/Y')}}</td>
                        <td>{{ m.tournoi.discipline}}</td>
                        <td>{{ m.tournoi}}</td>
                        <td class="bg-success">{{ m.adversaire1}}</td>
                        <td class="bg-danger">{{ m.adversaire2}}</td>
                        <td>{{ (m.resultat) ? m.resultat :'???'}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                <div class="col-md-2"></div>
        </div>
    </div>

{% endblock %}
