{% extends 'base.html.twig' %}

{% block title %}Affiche{% endblock %}

{% block body %}
    <h1>Affiche</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affiche.id }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ affiche.resultat }}</td>
            </tr>
            <tr>
                <th>Calendrier</th>
                <td>{{ affiche.calendrier ? affiche.calendrier|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('affiche_index') }}">back to list</a>

    <a href="{{ path('affiche_edit', {'id': affiche.id}) }}">edit</a>

    {{ include('affiche/_delete_form.html.twig') }}
{% endblock %}
