<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet">
            <title>Value</title>
        <link rel="icon" href="{{ asset('logoeuro.jpg') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <style>
            .hauteur{
                max-height: 60vh;
                overflow-y: auto;
            }
        </style>
    </head>
    <body style="background: #01172e;color: #fff">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <a class="navbar-brand" href="{{ path('home_accueil') }}" style="font-family: 'Fredoka One', cursive;">VALUEBET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if(is_granted('ROLE_ADMIN')) %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('pays_index') }}">pays <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sport_index') }}">sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('athlete_index') }}">athlete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tournoi_index') }}">tournoi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('affiche_index') }}">matchs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ranking_index') }}">ranking</a>
                </li>
{% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-2">
                <input class="form-control mr-sm-2" type="search"  aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">seek</button>
            </form>
            {% if(app.user) %}
            <a href="{{ path('app_logout') }}" class="text-light">déconnexion</a>
            {% else %}
            <a href="{{ path('app_login') }}" class="text-light">connexion</a>
            {% endif %}
            <!--img src="{{ asset('loginicon.jpg') }}" width="6rem" alt="" class="img-thumbnail"-->
        </div>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
